<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <br>
    <h2>메로나 일반게시판</h2>
    <span th:if="${userInfo != null}">게시글 작성이 가능합니다.</span>
    <span th:if="${userInfo == null}">게시글 작성은 로그인시 가능합니다.</span>
    <hr>
    <div>

        <form th:action="@{/normalBoard/list}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
        <table>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>등록일</th>
                <th>조회수</th>

            </tr>
            <tr th:each="board : ${list}">
                <th th:text="${board.id}"></th>
                <th><a  th:text="${board.boardTitle}" th:href="@{|${board.id}|}"></a></th>
                <th th:text="*{#temporals.format(board.createdTime,'yyyy-MM=dd HH:mm:ss')}"></th>
                <th th:text="${board.boardHits}"></th>
            </tr>
        </table>
    </div>
    <div>
        <a href="/normalBoard/wrtieForm">글작성</a>
    </div>
    <a th:href="@{/normalBoard/list(page=0)}">처음</a>
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/normalBoard/list(page = ${page - 1}, searKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
        <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>
    </th:block>
    <a th:href="@{/normalBoard/list(page=${list.totalPages})}">마지막</a>

</div>
</html>