<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://kr.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
        {
            "colorTheme": "light",
            "dateRange": "1D",
            "showChart": true,
            "locale": "kr",
            "largeChartUrl": "",
            "isTransparent": false,
            "showSymbolLogo": true,
            "showFloatingTooltip": false,
            "width": "400",
            "height": "600",
            "plotLineColorGrowing": "rgba(0, 255, 0, 0.65)",
            "plotLineColorFalling": "rgba(255, 0, 0, 0.4)",
            "gridLineColor": "rgba(240, 243, 250, 0)",
            "scaleFontColor": "rgba(106, 109, 120, 1)",
            "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
            "belowLineFillColorFalling": "rgba(151, 0, 0, 0.12)",
            "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
            "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
            "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
            "tabs": [
            {
                "title": "지수",
                "symbols": [
                    {
                        "s": "BITSTAMP:BTCUSD",
                        "d": "비트코인"
                    },
                    {
                        "s": "BITSTAMP:ETHUSD",
                        "d": "이더리움"
                    },
                    {
                        "s": "NASDAQ:XRPLX",
                        "d": "리플"
                    },
                    {
                        "s": "CRYPTOCAP:ADA",
                        "d": "에이다"
                    }
                ],
                "originalTitle": "Indices"
            }
        ]
        }
    </script>
</div>
<!-- TradingView Widget END -->