<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <br>
    <table>
        <tr>
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>업로드 시간</th>
        </tr>
        <tr th:each="leaderBoard : ${leaderboardList}">
            <td th:text="${leaderBoard.id}"></td>
            <td><a th:href="@{|/leaderBoard/${leaderBoard.id}|}" th:text="${leaderBoard.boardTitle}"></a></td>
            <td th:text="${leaderBoard.boardWriter}"></td>
            <td th:text="${leaderBoard.boardHits}"></td>
            <td> <span th:text="${#temporals.format(leaderBoard.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
        </tr>
    </table>

    <a th:href="@{/leaderBoard/writeForm}">글 작성</a>

</div>
</html>