<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">

    <br>

    <form th:action="@{/leaderBoard/modifyPro}" name="board" method="post">
        <input type="hidden" name="id" th:value="${board.id}">
        <input type="hidden" name="memberId" th:value="${userId}">
        <input type="hidden" name="memberName" th:value="${userName}">
        작성자 : <span type="text" name="memberName" th:text="${userName}"></span><br>
        제목 : <input type="text" name="boardTitle" th:value="${board.boardTitle}"><br>
        내용 :<br>
        <textarea name="boardContents" cols="60" rows="10" th:text="${board.boardContents}"></textarea><br>
        <input type="hidden" name="boardHits" th:value="${board.boardHits}"><br>
        <input type="submit" value="수정">
        <button href="/board/leaderBoard/list">취소</button>
    </form>

</div>
</html>