<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <br>
    <table>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>업로로드 날짜</th>
            <th>조회수</th>
        </tr>
        <tr th:each="leaderBoard: ${leaderBoardList}">
            <td th:text="${leaderBoard.id}"></td>
            <td><a th:href="@{|/leaderBoard/${leaderBoard.id}|(page=${leaderBoardList.number + 1})}" th:text="${leaderBoard.boardTitle}"></a></td>
            <td th:text="${leaderBoard.boardWriter}"></td>
            <td th:text="${#temporals.format(leaderBoard.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${leaderBoard.boardHits}"></td>
        </tr>
    </table>

    <!-- 첫번째 페이지로 이동 -->
    <!-- /board/paging?page=1 -->
    <a th:href="@{/leaderBoard/paging(page=1)}">처음</a>
    <!-- 이전 링크 활성화 비활성화 -->
    <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
    <a th:href="${leaderBoardList.first} ? '#' : @{/leaderBoard/paging(page=${leaderBoardList.number})}">이전</a>

    <!-- 페이지 번호 링크(현재 페이지는 숫자만)
            for(int page=startPage; page<=endPage; page++)-->
    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == leaderBoardList.number + 1}" th:text="${page}"></span>
        <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == leaderBoardList.number + 1}">
        <a th:href="@{/leaderBoard/paging(page=${page})}" th:text="${page}"></a>
    </span>
</span>

    <!-- 다음 링크 활성화 비활성화
        사용자: 2페이지, getNumber: 1, 3페이지-->
    <!-- 다음 링크 활성화 비활성화 -->
    <a th:if="${leaderBoardList != null}" th:href="${leaderBoardList.last} ? '#' : @{/leaderBoard/paging (page = ${leaderBoardList.number + 2})}">next</a>
    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/leaderBoard/paging(page=${leaderBoardList.totalPages})}">마지막</a>

    </body>
    <script>
        const saveReq = () => {
            location.href = "/leaderBoard/writePro";
        }

    </script>

</div>
</html>