<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <br>
    <form action="/leaderBoard/update" method="post">
        <input type="hidden" name="id" th:value="${leaderBoardUpdate.id}"><br>
        제목 : <input type="text" name="boardTitle" th:value="${leaderBoardUpdate.boardTitle}" ><br>
        작성자 : <input type="text" name="boardWriter" th:value="${leaderBoardUpdate.boardWriter}" readonly><br>
        내용 :
        <textarea name="boardContents" cols="60" rows="10" th:text="${leaderBoardUpdate.boardContents}"></textarea><br>
       <input type="hidden" name="boardHits" th:value="${leaderBoardUpdate.boardHits}">
        <input type="submit" value="수정">
        <button th:href="@{leaderBoard/list}" value="취소">취소</button>
    </form>
</div>


</html>