<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <br>
    <table>
        <tr>
            <th>번호</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${board.memberEmail}"></td>
        </tr>
        <tr>
            <th>날짜</th>
            <td th:text="${board.createdTime}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
    </table>

    <a th:href="@{/community/list}">목록</a><br>
    <a th:href="@{/community/modifyForm/{id}(id=${board.id})}">수정</a><br>
    <a th:href="@{/community/delete(id=${board.id})}">삭제</a><br>
</div>
</html>