<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <!--임시로 넣은 값들입니다. 더 추가해야합니다.-->
    <div style="border: 1px solid red" >
        <div th:text="${detail.getBoardId()}"></div>
        <div th:text="${detail.getBoardWriter()}"></div>
        <div th:text="${detail.getBoardTitle()}"></div>
        <div th:text="${detail.getBoardContents()}"></div>
    </div>
</div>