<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">

    <br>

    <form action="/community/writePro" method="post" enctype="multipart/form-data">
        <input type="hidden" th:value="${memberId}" name="memberId"><br>
        <input  name="memberName" type="hidden" th:value="${userName}">
        <input  name="memberEmail" type="hidden" th:value="${memberId}">
        작성자 : <span readonly th:text="${userName}"></span><br>
        제목 : <input type="text" name="boardTitle"><br>
        내용 : <br>
        <textarea name="boardContents" cols="60" rows="10"></textarea><br>
        <input type="file" name="file"><br>
        <input type="submit" value="글작성">
        <button href="/board/community/list">취소</button>
    </form>

</div>
</html>