<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script>
    $(function () {
        $('#board_rendering_js').remove();
    })
    
    $('.clickDetailLink').click(function () {
        let link = $(this).parent('tr').data("link");
        let id = $(this).parent('tr').data("id");
        location.href = link + id;
    });
</script>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Writer</th>
    </tr>
    <tr th:class="boardList" th:each="board, i : ${boardPaging}" th:data-link="${detailBoardLink}" th:data-id="${board.getId}">
        <td th:text="${board.getId}"></td>
        <td class="clickDetailLink" th:text="${board.getBoardTitle}"></td>
        <!--TODO 커뮤니티 보드 변경후 데이터에 맞게 변경할것-->
        <!--<td th:text="${board.getBoardWriter}"></td>-->
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#fastDetail'+${board.getId}">
                빠른 정보 보기
            </button>
        </td>
        <td th:if="${filter} == 'waring'">
            <button class="disabledButton" th:data-id="${board.getId}">비활성화</button>
        </td>
    </tr>
</table>

<!-- Modal -->
<div th:each="board, i : ${boardPaging}" class="modal fade" th:id="'fastDetail'+${board.getId}"
     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="'게시판 ' +${board.getId}+'의 빠른 정보'"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                내용 추가 바람
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>