<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<table class="table table-striped">
    <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Limit</th>
    </tr>
    <tr th:each="member, i : ${memberPaging}">
        <td th:text="${member.getMemberEmail()}"></td>
        <td th:text="${member.getMemberRole()}"></td>
        <td th:text="${member.getMemberLimitState()}"></td>
        <td th:if="${filter} == 'waring'">
            <button class="disabledButton" th:data-id="${member.getId}">비활성화</button>
        </td>
    </tr>
</table>

<!-- 페이징처리 시작 -->
<!--
<div th:each="member, i : ${memberPaging}">
    <div th:if="${!member.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!member.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${member.number-1}">
                    <span>이전</span>
                </a>
            </li>
            
            <li th:each="page: ${#numbers.sequence(0, member.totalPages-1)}"
                th:if="${page >= member.number-5 and page <= member.number+5}"
                th:classappend="${page == member.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            
            <li class="page-item" th:classappend="${!member.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${member.number+1}">
                    <span>다음</span>
                </a>
            </li>
        
        </ul>
    </div>
</div>
-->
<!-- 페이징처리 끝 -->


</body>
</html>