<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://kr.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">트레이딩뷰에서 모든 시장 추적</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
    {
      "colorTheme": "light",
            "isTransparent": false,
            "largeChartUrl": "",
            "displayMode": "regular",
            "width": "480",
            "height": "830",
            "symbol": "KRX:005930",
            "locale": "kr"
    }
  </script>
</div>
<!-- TradingView Widget END -->