<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
	<link rel="icon" href="/img/melon.png" type="image/png">
	<title>Melona-pw변경</title>
<!--부트스트랩 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<!-- css 링크 -->
	<!--fix : /css/layout1.css -> css/layout1.css
	because : 로컬 환경에서는 스프링부트 시스템으로 인해 추론이 가능해를 자동 삭제되지만
	 jar 배포 환경에서는 추론 시스템이 작동하지 않아 이중 슬래쉬(/)처리 되어
	 리소스 핸들러 환경을 인식할 수 없음. 특수한 상황을 제외한 모든 html 및 컨트롤 경로는
	 /를 제외한 경로로 지정할것. -->
	<link th:href="@{/css/member/common10.css}" rel="stylesheet">

<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="css"></th:block>

</head>
<body>

	<div th:replace="fragments/header::header"></div>
	
	<div layout:fragment="content" class ="content">
		<form action="/user/member/changePasswordPro" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return validCheck();">

			<div class="row">
				<div class="col-4">

				</div>
				<div class="col-4">
					<label for="memberPassword">비밀번호</label>
					<input type="text" id="memberPassword" name="memberPassword" class="form-control" required min="10" max="35" placeholder="10자이상 35자이하여야만합니다.">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row">
				<div class="col-4">
				</div>
				<div class="col-4">
					<label for="memberPassword2">비밀번호확인</label>
					<input type="text" id="memberPassword2" class="form-control" required min="10" max="35" placeholder="비밀번호와 같은값을 입력해주세요."
					>
				</div>
				<div class="col-4"></div>
			</div>

			<br/>

			<div class="row">
				<div class="col-4"></div>
				<div class="col-4">
					<button class="w-100 btn btn-outline-success btn-lg" type="submit" id="btn1">비밀번호 변경</button>
				</div>
				<div class="col-4"></div>
			</div>

		</form>
		
	</div>
	
	<br>
	<div th:replace="fragments/footer::footer"></div>
<script th:inline="javascript">
function validCheck(){
	let memberPassword = document.getElementById("memberPassword").value;
	let memberPassword2 = document.getElementById("memberPassword2").value;
	if(memberPassword!==memberPassword2){
		alert("비밀번호와 비밀번호 확인은 값이 같아야 하니다.");
		return false;
	}
}


</script>

</body>
</html>