<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>

</head>
<body>

<!--임시 회원가입 폼입니다.-->

<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/맴버/회원가입}" th:object="${맴버생성클래스입력}" method="post">
        <div th:replace="~{error/errors :: formErrorsFragment}"></div>      <!--에러 출력-->
        <div class="mb-3" id="username">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" th:field="*{입력}" class="form-control">
        </div>
        <div class="mb-3" id="password1">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{입력}" class="form-control">
        </div>
        <div class="mb-3" id="password2">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{입력}" class="form-control">
        </div>
        <div class="mb-3" id="email">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{이메일 입력}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>


</body>
</html>