
/*.navbar-nav .nav-item {*/
/*    display: inline-block;*/
/*    margin-right: 10px;*/
/*}*/

#nav3 {
    justify-content: center;
}

header{

	}

	.navbar{

	}

	#header1{

	}
	.nav-link{
		color: rgb(128, 128, 128);
	}

	.container-fluid{
		border: 1px solid red;
	}
