

@charset "UTF-8";
html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin: 3px 0;
    transform: translateY(200%); /*콘텐츠 길이 상관없이 하단 고정  뭔가 하단이 이상하다 싶으면 이걸 제거하시면 됩니다.  */
/*        디폴트는 100*/


}
.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#nav3 a {
    color:#A4A4A4 ;
    text-decoration: none;
    letter-spacing: 5px;
}

#nav3 a:hover {
   color: #9FF781;
}
#nav4 a {
    color:#ffffff ;
    text-decoration: none;
}

#nav4 a:hover {
    color: #9FF781;
}
