<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">
        <footer class="page-footer font-small cyan darken-3">
            <div class="footer-copyright text-center py-3">
             	<p>2023.10.20  Springboot Melona project</p>
				<p>GitHub address : github.com/duddnr3618/melonaProj</p>
	 			<p>projected by Team. YoungCha </p>
                <p>대표 : 최영욱, 김범준, 김동철, 배윤현, 양우성, 허남규 </p>
            </div>
        </footer>
    </div>
    

</html>