<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 필요한 메타 태그와 스타일을 여기에 추가하실 수 있습니다. -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Header</title>
</head>
<body>

<div th:fragment="header">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#" th:href="@{/}">C-Book</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse collapse" id="navbarContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" sec:authorize="isAnonymous()">
					<a class="nav-link active" href="/member/memberLogin" th:href="@{/member/memberLogin}">Login</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link active" href="/member/logout" th:href="@{/member/logout}">Logout</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/member/memberForm" th:href="@{/member/memberForm}">회원가입</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link active" href="#" th:href="@{/myinfo}">내정보</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#" th:href="@{/about-cbook}">C-book 소개</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#" th:href="@{/customer-service}">고객센터</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-md-0">
				<input class="form-control" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
</div>


</body>
</html>



<!--

<div th:fragment="header">

<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">C-Book</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

					<li class="nav-item" sec:authorize="isAnonymous()" >
						<a class="nav-link active" aria-current="page" href="/member/memberLogin">Login</a>
					</li>

					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link active" aria-current="page" href="/member/logout">Logout</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/member/memberForm">회원가입</a>
					</li>

					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link active" aria-current="page" href="#">내정보</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">C-book 소개</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">고객센터</a>

					</li>

				</ul>
			</div>

			<form class="d-flex mt-3" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-success" type="submit">Search</button>
			</form>


		</div>
	</div>
</nav>
<br>
<br>

</div>



-->

