<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<link type="text/css" th:href="@{/css/layout/header.css}"  rel="stylesheet">

<meta charset="UTF-8"><!--한글깨짐으로 임시로 넣어둠-->





<div th:fragment="header">
<!--	트레이딩 차트! 시작-->
	<!-- TradingView Widget BEGIN -->
	<div class="tradingview-widget-container">
		<div class="tradingview-widget-container__widget"></div>
		<div class="tradingview-widget-copyright"><a href="https://kr.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
		<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
			{
				"symbols": [
				{
					"proName": "BITSTAMP:BTCUSD",
					"title": "비트코인"
				},
				{
					"proName": "BITSTAMP:ETHUSD",
					"title": "이더리움"
				},
				{
					"description": "카카오",
					"proName": "KRX:035720"
				},
				{
					"description": "삼성",
					"proName": "KRX:005930"
				},
				{
					"description": "AAPL",
					"proName": "NASDAQ:AAPL"
				},
				{
					"description": "RIPPLE",
					"proName": "UPBIT:XRPKRW"
				},
				{
					"description": "AMD",
					"proName": "NASDAQ:AMD"
				},
				{
					"description": "KOSPI",
					"proName": "KRX:KOSPI"
				},
				{
					"description": "월드 디즈니",
					"proName": "NYSE:DIS"
				},
				{
					"description": "마이크로 소프트",
					"proName": "NASDAQ:MSFT"
				},
				{
					"description": "USD:KRW",
					"proName": "FX_IDC:USDKRW"
				},
				{
					"description": "JPY:KRW",
					"proName": "FX_IDC:JPYKRW"
				}
			],
					"showSymbolLogo": true,
					"colorTheme": "light",
					"isTransparent": false,
					"displayMode": "adaptive",
					"locale": "kr"
			}
		</script>
	</div>
	<!-- TradingView Widget END -->
<!--	차트 끝!-->

	<!--  sec:authorize="hasAnyAuthority('ROLE_ADMIN')" -->
	<nav class="navbar navbar-green" style="background-color: #D0EDB3;"><!--메로나 색으로 변경 완료		-->
		<div class="container-fluid">
			<a class="navbar-brand" href="/">MELONA!</a>

<!--			nav 바에 들어간 애들!-->
<!--		-->
			<div id="nav3" class="d-flex justify-content-center flex-grow-1">
				<a class="nav-link mx-5" th:href="@{/news/newspage}">뉴스</a>
				<a class="nav-link mx-5" th:href="@{/news}">가이드</a>

				<!--        <li><a href="/leaderBoard/list">리더가이드</a></li>-->
				<!--        <li><a href="/normalBoard/list">일반가이드</a></li>-->

				<a class="nav-link mx-5" th:href="@{/community/list}">커뮤니티</a>
				<a class="nav-link mx-5" th:href="@{/event}">이벤트</a>
				<a class="nav-link mx-5" th:href="@{/stockinformation/stockinfo1}">차트</a>
			</div>


			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

						<li class="nav-item" sec:authorize="isAnonymous()" >
							<a class="nav-link active" aria-current="page" href="/member/loginForm">Login</a>
						</li>
						<li class="nav-item" sec:authorize="isAnonymous()" >
							<a class="nav-link active" aria-current="page" href="/member/findInfoForm">id/pwd찾기</a>
						</li>

						<li class="nav-item"  >
							<a class="nav-link active" aria-current="page" href="/exchangeRateCalc">환율정보</a>
						</li>
						<li class="nav-item"  >
							<a class="nav-link active" aria-current="page" href="/koreaBankSearch">정보검색</a>
						</li>
						<li class="nav-item"  >
							<a class="nav-link active" aria-current="page" href="/statisticList">통계</a>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<a class="nav-link active" aria-current="page" href="/logout">Logout</a>
						</li>

						<li class="nav-item" sec:authorize="isAuthenticated()">
							<a class="nav-link active" aria-current="page" th:href="@{/user/member/beforeWithdrawForm}">탈퇴</a>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<a class="nav-link active" aria-current="page" th:href="@{/user/member/beforeChangePasswordForm}">비밀번호변경</a>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<a class="nav-link active" aria-current="page" href="/user/member/updateForm">정보수정</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/member/joinForm">회원가입</a>
						</li>

						<li class="nav-item" sec:authorize="isAuthenticated()">
							<a class="nav-link active" aria-current="page" href="#">내정보</a>
						</li>

						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">C-book 소개</a>
						</li>

						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">고객센터</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/event}">Event</a>
						</li>
					</ul>

					<form class="d-flex mt-3" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-success" type="submit">Search</button>
					</form>

				</div>
			</div>
		</div>
	</nav>
	<br>
	<br>
</div>
</html>