body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

div {
    box-sizing: border-box;
}

/* alert badge */
.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ff0000;
    position: absolute;
    top: -5px;
    left: 110%;
}

/* 녹색 텍스트 */
.green {
    color: #9FF781;
    font-size: 16px;
}

.wrap {
    background-color: #F8F8F8;
}

/* 녹색배경 */
.greenContainer {
    height: 132px;
    background-color: white;
    display: grid;
    align-items: flex-end;
    padding: 16px;
    border-radius: 10px; /* 모서리 둥글게 */
    margin: 0 auto;
}

.greenContainer .name {
    font-size: 20px;
    font-weight: bold;
    color: #A4A4A4;
}

.greenContainer .modify {
    margin-left: auto;
}

/* 단골상점 , 상품후기 , 적립금 박스 */
.summaryContainer {
    background-color: white;
    display: flex;
    padding: 10px 16px;
    margin-bottom: 10px;

}

/* 단골상점 , 상품후기 , 적립금 */
.summaryContainer .item {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 180px; /* Set a fixed height for all items */
    width: 30px;
    margin: 30px;
}

/* 텍스트 크기 일치 */
.summaryContainer .item > div {
    font-size: 16px;
}

/* 주문/배송조회 박스 시작 */
.shippingStatusContainer {
    padding: 10px 16px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px; /* 모서리 둥글게 */
}

.withdrawal-container {
    background-color: #ffffff;
    padding: 40px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #A4A4A4;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px; /* 모서리 둥글게 */
    width: 163px;
    height: 111px;
}

.withdrawal-container h2 {
    color: #9FF781;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 마우스 호버 시 색상 변경 */
.withdrawal-container:hover {
    background-color: #9FF781;
    border-color: #9FF781;
}

/* 텍스트 크기 일치 */
.withdrawal-container a {
    font-size: 16px;
}

/* 비밀번호 변경 컨테이너 스타일 */
.password-change-container {
    background-color: #ffffff;
    padding: 40px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #A4A4A4;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px; /* 모서리 둥글게 */
    width: 163px;
    height: 111px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #A4A4A4;
}

.dropdown-content {
    display: none;

    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #A4A4A4;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #A4A4A4;
}

.dropdown-content a:hover {
    background-color: #ffffff; /* 호버할 때 배경 색상 변경 */
    border-color: #9FF781; /* 호버할 때 테두리 색상 변경 */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.password-change-container h2 {
    color: #9FF781;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 마우스 호버 시 색상 변경 */
.password-change-container:hover {
    background-color: #9FF781;
    border-color: #9FF781;
}

/* 텍스트 크기 일치 */
.password-change-container a {
    font-size: 16px;
}

/* 주문/배송조회 타이틀 */
.shippingStatusContainer .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 내가 쓴 글 컨테이너 스타일 */
.my-written-posts-container {
    background-color: #ffffff;
    padding: 40px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #A4A4A4;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px; /* 모서리 둥글게 */
    width: 163px;
    height: 111px;
}
.status {
    text-align: center; /* 텍스트 가운데 정렬 */
}

/* 테이블 스타일 */
.status table {
    width: 100%;
    margin: 0 auto; /* 수평 가운데 정렬 추가 */
}

.status th {
    background-color: #f8f8f8;
}

.status th, .status td {
    text-align: center;
    font-size: 16px;
}

.my-written-posts-container h2 {
    color: #9FF781;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 마우스 호버 시 색상 변경 */
.my-written-posts-container:hover {
    background-color: #9FF781;
    border-color: #9FF781;
}

/* 테이블 스타일 */
.my-written-posts-container table {
    width: 100%;
}

.my-written-posts-container th {
    background-color: #f8f8f8;
}

.my-written-posts-container th,
.my-written-posts-container td {
    text-align: center;
    font-size: 16px;
}

.shippingStatusContainer .status {
   /* display: grid;*/
    justify-content: space-between;
    margin-bottom: 21px;
}

/* 장바구니 결제완료 배송중 구매확정 [로우] */
.shippingStatusContainer .item {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.shippingStatusContainer .number {
    font-size: 16px;
    font-weight: 500;
}

.shippingStatusContainer .text {
    font-size: 12px;
    font-weight: normal;
    color: #c2c2c2;
    text-align: center;
}

.shippingStatusContainer .icon {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 16px;
    height: 16px;
}

/* 주문목록 ~ 찜한상품 리스트 */
.listContainer .item {
    display: flex;
    align-items: center;
    padding: 16px;
    color: black;
    text-decoration: none;
    height: 56px;
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px solid #A4A4A4;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px; /* 모서리 둥글게 */
}

/* 마우스 호버 시 색상 변경 */
.listContainer .item:hover {
    background-color: #9FF781;
    border-color: #9FF781;
}

.listContainer .text {
    font-size: 16px;
    position: relative;
}

.listContainer .right {
    margin-left: auto;
}

/* 내지갑의 보유 적립금 들어가는 부분 */
.listContainer .smallLight {
    font-size: 16px;
    color: #c2c2c2;
}

.listContainer .smallLight > span {
    margin-left: 10px;
}

.listContainer .right .blct {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

/* 공지사항 이용안내 고객센터 */
.infoContainer {
    background-color: white;
    display: flex;
    height: 100px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.infoContainer .item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.infoContainer .item > div:first-child {
    margin-bottom: 2px;
}

