<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{../static/css/index.css}" type="text/css">


<div layout:fragment="content">

  <br>
  <div>
    <ul>
      <li>뉴스</li>

      <li>가이드
        <ul>
        <li><a href="/leaderBoard/list">리더가이드</a></li>
        <li><a href="/normalBoard/list">일반가이드</a></li>
      </ul>
      </li>

      <li><a href="/community/list">커뮤니티</a></li>



      <li></li>
      <li></li>
    </ul>
  </div>
  <iframe src="http://localhost:7777/news/list?text=주식" width="1290" height="300"></iframe>
  <iframe src="http://localhost:7777/news/list2?text=주식" width="1290" height="300"></iframe>
</div>
</html>