<html>
<head>
    <title>How To Make Banana Bread</title>
    <script type="application/ld+json">
        [{
            "@context": "https://schema.org/",
            "@type": "Recipe",
            "name": "Banana Bread Recipe",
            "description": "The best banana bread recipe you'll ever find! Learn how to use up all those extra bananas."
        },
            {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Recipes",
                    "item": "https://example.com/recipes"
                },{
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Bread recipes",
                    "item": "https://example.com/recipes/bread-recipes"
                },{
                    "@type": "ListItem",
                    "position": 3,
                    "name": "How To Make Banana Bread"
                }]
            }]
    </script>
</head>
<body>
</body>
</html>