
<!--이더리움-->


<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>

    <link rel="stylesheet" href="../../../static/css/chart/chart.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/chart/chart.css}" type="text/css">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <meta charset="UTF-8"><!--한글깨짐으로 임시로 넣어둠-->
    <style>

        /*figure{*/
        /*    margin-top: 100px;*/
        /*}*/

    </style>

</head>
<body>
<div layout:fragment="content">
    <!--    코인차트 시작-->
    <figure>
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid" id="container2"></div>
            </div>
        </div>
    </figure>
    <!--    코인차트 끝-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.12.4/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src=../../../static/js/chart/coinchart/coinchart2.js></script>
    <script th:src="@{/js/chart/coinchart/coinchart2.js}"></script>
</div>
</body>
</html>