<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
  <div>
    <h3>기본적 분석과 기술적 분석</h3>
    <pre>
      <h4>1. 기본적 분석</h4>
      기업의 내재 가치를 분석하는 기업가치평가를 바탕으로 하여 주가를 예측하는 방법으로,내재가치란 여러 정보를 이용하여
      미래가치를 추정하고 이를 현재가치로 환산한 것이다.따라서 어떤 주식의 가격이 그 주식의 내재 가치보다 낮을 때 그 주식을 사고,
      주가가 내재 가치 이상일 때 판다면 평균적으로 수익을 낼 수 있다는 것이 핵심 명제이다.
      이는 주식시장은 단기적으로는 효율적이지 않지만, 장기적으로는 효율적이라는 연구를 기반으로 한다.즉, 단기적으로 비효율적인 시장에서 싸게 주식을 하고,
      장기적으로 오르면 파는 것이다.
      <strong>-> 기업의 가치를 분석</strong>
    </pre>
    <a href=""></a>


    <pre>
      <h4>2. 기술적 분석</h4>
      과거 주식의 가격이나 거래량 같은 자료를 이용하여 주가 변화의 추세를 발견해내어 미래의 주가를 예측하는 방법이다. 주가는 시장의 수요와 공급에 의해서 결정된다는 가정 아래에서 출발하며,
      일반적으로 주식거래의 과거자료를 도표(chart) 등의 수단으로 정리하여 주가 변화 추세를 찾아내고 이를 이용하여 미래의 주가를 예측하는 것이다.
      <strong>-> 과거를 분석하여 수치화 통한 분석</strong>

    </pre>
    <a href=""></a>


  </div>

</div>
</html>