<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
  <h3>기술적분석 : 1. 피보나치 (자연의 법칙) </h3>
  <pre>
    <h4>피보나치 수열</h4>
    1 1 2 3 5 8 13 21 34 55 84 .....
    점화식 : Fn = Fn-1 + Fn-2 (n = 3,4 ..... ) 전항과 전전항의 합
    꽃의 꽃잎의 갯수는 피보나치 수열을 대부분 따른다. (네잎클로버 4개)

     <h4>황금비율</h4>
    1) 1 1 2 3 5 8 13 21 34 55 84 .....
     앞의 수와 뒤의 수의 나눗셈의 비율 : 1:1 / 1:0.5 / 1:0.667 / 1:0.6 / 1:0.625 / 1:0.615 / 1:0.619 / 1:0.618 / 1:0.618 / ....
    -> 0.618로 수렴한다.
      앞의 수와 뒤의 수의 곱셈의 비율 : 1:1 / 1:1.5 / 1:1.667 / 1:1.6 / 1:1.625 / 1:1.615 / 1:1.619 / 1:1.618 / 1:1.618 / ....
    -> 1.618로 수렴한다.

    2) a : b = a + b : a
    -> a/b = a+b/a = 1.618.... (유일한 숫자)

  </pre>
  <strong>-> 피보나치 수열의 앞뒤 혹은 n번째 항으로 곱,나눈 결과의 값은 황금비율로 수렴한다. (피보나치와 황금비율은 절대적이면서 상대적인이다. )</strong>
  <br>
  <strong> (0.382 / 0.618 / 1.382 / 1.618 ...)</strong>


  <div><img src="/img/Fractal1%20.jpg"> <img src="/img/Fractal2.jpg"> </div>
</div>
</html>