body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px; /* 페이지의 최대 너비 조정 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px;
}
.top1 {font-size: small;  margin-left: 1200px}
.top2 {margin-left: 40px; padding-top: 10px}


h2 {
    color: #58FA58; /* 연두색 글자색 */
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center; /* 텍스트 가운데 정렬 */
}

.info-message {
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

form {
    display: flex;
    justify-content: center; /* 입력 필드 및 버튼 가운데 정렬 */
    margin-bottom: 20px;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-right: none;
    border-radius: 15px;

}

button[type="submit"] {
    background-color: #BDBDBD; /* 연두색 배경색 */
    color: white; /* 흰색 글자색 */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

table {
    width: 1280px;
    border-collapse: collapse;
    margin: 0 auto; /* 테이블 가운데 정렬 */
}

th, td {
    border-bottom: #e0d6d6 solid 1px;
    padding: 10px;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    color: #9FF781; /* 연두색 글자색 */
    padding: 5px 10px;
    border: 1px solid #58FA58; /* 연두색 테두리 */
    margin: 0 5px;
}

.pagination a:hover {
    background-color: #58FA58; /* 연두색 배경색 */
    color: white;
}

.pagination .current {
    background-color: #58FA58; /* 현재 페이지 스타일 */
    color: white;
}